/* Head */

.navbar {
    position:fixed !important;
    width: 100%;
}

.logo {
    margin-right: 1rem;
    width: 1rem;
}

a {
    color: var(--main-font-color);
}

a:hover {
    color: var(--main-font-color-hover);
}

/* Body */


.content {
    margin-left: 10em;
    margin-right: 10em;
    min-height:  42rem;
    padding-top: 8rem;
    background-color: var(--background-color-content)
}

.title {
    margin-left: 3rem;
}

/* Footer */

.footer {
    background-color: var(--main-color);
    position: fixed;
    text-align: center;
    height: 2.5rem;
    font-size: 1.3rem;
    padding: -0px;
    bottom: 0;
    left: 0;
    right: 0;
}


@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}