/* Head */
/* Body */
/* Footer */

.footer {
    background-color: var(--main-color);
    position: fixed;
    text-align: center;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: -0px;
    bottom: 0;
    left: 0;
    right: 0;
}