/* Hier werden die ROOT CSS Variablen definiert */
 :root {
   --main-font:'Ubuntu', 'Staatliches';
   --main-font-color:black;
   --main-font-color-hover:darkgrey;
   --main-uschrift-font:'Merriweather', 'Ubuntu', Arial;
   --main-color:#f8f9fa!important;
   --main-menue-background-color:;
   --seccond-color:grey;
   --background-color: white;
   --background-color-content: lightgrey;
   --background-image:;
   --logo-image:;
 }
