/* This is where your root vars get defined */
 :root {
   --main-font:;
   --main-font-color:black;
   --main-color:lightgrey;
   --seccond-color:grey;
   --background-color: white;
   --background-image:;
   --logo-image:;
 }
