@import "root";

.gallery {
  background-color: $main-menue-background-color;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-top: 2rem;
  @include respond-to(handhelds) {

  }
  @include respond-to(medium-screens) {

  }
  @include respond-to(wide-screens) {

  }

  .gallery-item {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem !important;
    border-style: solid;
    @include respond-to(handhelds) {
      width: 15rem;
      margin-bottom: 2rem;
    }
    @include respond-to(medium-screens) {
      width: 10rem;
      margin-bottom: 2rem;
    }
    @include respond-to(wide-screens) {
    }

    &:hover {
      zoom: 120%;
      animation-duration: 3s;
      border-radius: 0;
      border-style: none;
    }
  }
}
