$main-font: 'Ubuntu', 'Staatliches';
$main-font-color: black;
$main-font-color-hover: darkgrey;
$main-uschrift-font: 'Ubuntu', Arial;
$main-color: #f8f9fa!important;
$main-menue-background-color: white;
$seccond-color: grey;
$background-color: white;
$background-color-content: lightgrey;
$logo-image: url('content/img/fav.svg');
